<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>IoTwebApp</title>
</head>
<body>

<div align="center">
    <table class="table table-sm table-dark" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">DeviceId</th>
            <th scope="col">UnixTime</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
        </tr>
        </thead>
        <tbody id="tabledata">

        </tbody>
    </table>
</div>
<script src="webApp.js"></script>

</body>
</html>